image: 3edda9cf-11fd-4e4a-8a51-f58b9ad593c2
flavor: 8f4b7ae1-b8c2-431f-bb0c-362a5ece0381
agent_user: ubuntu
region: sal01
router_name: openstack-example-network-router
public_network_name: openstack-example-network-name
public_subnet_name: openstack-example-network-subnet
private_network_name: example-openstack-private-network-name
private_subnet_name: example-openstack-private-network-subnet
